doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title('Twitter client')
    meta(name='desciption' content='')
    meta(name='author' content='Neil Curtis')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/Global.css")
body(style='padding: 32px; background-color: #0084b4')
    img(src='img/404-bot.png' style='margin: auto; display: block')
    h1(style='font-family: "Work Sans", sans-serif; text-align: center') THERE WAS AN ERROR!
    p(style='font-family: "Work Sans", sans-serif; text-align: center; color: darkslategray') #{errorArray}